body {
    background-image: url(img/back.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding:0;
    /* margin:auto; */
}

h1{
    text-align: center;
    font-weight: 50;
    font-family: sans-serif;
}
#input_wrap{
    position: relative;
    margin: auto;
    width: 40%;
}

#search_input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #a5a5a5;
    padding-left: 50px;
    outline: none;
}

#search_input:focus-visible{
    outline: none;
}

#search{
    background: url(img/search-gray.svg) no-repeat center;
    background-size: 15px 15px;
    background-position-x: 17px;
    border: none;
    cursor: pointer;
    height: 42px;
    padding: 8px;
    pointer-events: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
}

#search:hover{
    background: url(img/search-solid.svg) no-repeat center;
    background-size: 15px 15px;
    background-position-x: 17px;
}

#clear{
    background: url(img/times-gray.svg) no-repeat center;
    background-size: 15px 15px;
    background-position-x: 17px;
    border: none;
    border-left: 1px rgb(199, 199, 199) solid;
    cursor: pointer;
    height: 42px;
    padding: 7px;
    pointer-events: auto;
    position: absolute;
    right: -40px;
    top: 0px;
    width: 33px;
}

#clear:hover{
    background: url(img/times-solid.svg) no-repeat center;
    background-size: 15px 15px;
    background-position-x: 17px;
}

#results{
    margin-top: 200px;
    position: relative;
    left: 0px;
}

#error {
    margin-top: 250px;
    width: 50%;
    margin: auto;
    background-color: rgb(170, 170, 170);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

/* some code used in https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
    border: none;
    background-color: rgb(245, 245, 245);
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tab button:hover {
    background-color: rgb(223, 223, 223);
}

.tab button.focused {
    background-color: rgb(206, 206, 206);
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: none;
    width: 80%;
    margin: auto;
    text-align: center;
}

#company, #summary, #charts, #news{
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
    max-width: max-content;
    overflow: visible;
    font-family: sans-serif;
}

td{
    border: 0.5px solid rgb(204, 204, 204);
    width: 270px;
}

#summary td{
    width: 180px;
}

.col1{
    text-align: right;
    border-left: none;
    font-weight: bold;
    padding: 5px
}

.col2{
    text-align: left;
    border-right: none;
    padding: 5px;
}

.col2 img{
    width: 14px;
    height: 14px;
    margin-left: 2px;
}

#ratings{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    height: 40px;
    text-align: center;
}

#ratings td{
    border: none;
}
.ratingL {
    color: red;
}
.rating1 {
    background-color: red;
    color: white;
}
.rating2 {
    background-color: rgb(121, 75, 75);
    color: white;
}
.rating3 {
    background-color: rgb(101, 116, 57);
    color: white;
}
.rating4 {
    background-color: rgb(80, 156, 96);
    color: white;
}
.rating5 {
    background-color: rgb(0, 252, 0);
    color: white;
}
.ratingH{
    color: rgb(17, 187, 17);
}

#caption1{
    margin: auto;
    margin-top: 20px;
    width: 30%;   
    font-family: sans-serif;
}

#charts{
    height: 400px;
    min-width: 310px;
}

.newspost {
    border: none;
    background-color: rgb(245, 245, 245);
    text-align:left;
    overflow: hidden;
    margin-bottom: 20px;
}

.newspost img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.headline {
    font-weight: bold;
    font-family: sans-serif;
}
.date{
    font-family: sans-serif;
}
.newslink {
    font-family: sans-serif;
}